body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 20px;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.container-logo1 {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.container-navbar {
    background-color: #333;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin-right: 10px;
}

.iniciar-button, .panel-button {
    background-color: #7e8d7e;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    margin-left: 5px;
}

.iniciar-button:hover, .panel-button:hover {
    background-color: #5b5f5c;
    text-decoration: none;
}

.iniciar-button:focus, .panel-button:focus {
    outline: none;
    text-decoration: none;
}

.iniciar-button:active, .panel-button:active {
    background-color: #424642;
    text-decoration: none;
}

.login-button, .iniciar-button {
    margin-right: 200px;
}

.login-button {
    background-color: #7e8d7e;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    margin-left: 5px;
}

.login-button:hover {
    background-color: #5b5f5c;
    text-decoration: none;
}

.login-button:focus {
    outline: none;
    text-decoration: none;
}

.login-button:active {
    background-color: #424642;
    text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #424642;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #C8E6C9;
    padding: 14px 20px;
    text-decoration: none;
    display: block;
}


.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown-content a:hover {
    background-color: #333;
}

#bienvenida {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #63c863; /* Verde más claro */
    color: white;
    padding: 8px 12px; /* Reduje el relleno */
    border-radius: 5px;
    font-size: 14px; /* Tamaño de fuente más pequeño */
    font-weight: bold;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.mensaje-despedida {
    background-color: #ff3333; /* Rojo */
    color: #ffffff; /* Blanco */
    padding: 10px;
    border-radius: 5px;
    display: none; /* Inicialmente oculto */
    position: fixed;
    top: 10px;
    right: 10px;
}


