/* Estilo para el formulario */
form {
    max-width: 600px;
    padding: 45px;
    background: #333;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 0 auto;
}

h1 {
    font-size: 24px;
    color: #000000;
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: #000000;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button[type="submit"] {
    background: rgb(0, 0, 0);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background: rgb(0, 0, 0);
}

.error {
    color: red;
    text-decoration: none;
    font-size: 14px;
    margin: 10px 0;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

p.error-message {
    background: red;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
}

.register-link {
    margin-top: 10px;
    text-align: center;
}

.register-link a {
    text-decoration: none;
    color: rgb(77, 245, 77);
    padding: 4px 10px;
    border: 2px solid #333;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.register-link a:hover {
    background: rgb(0, 0, 0);
    color: #fff;
}
